# Python
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
.venv/
env/

# Local env
.env
*.env

# Django
db.sqlite3
media/
staticfiles/
3d_assets/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
